@using Domain.Entity
@model Account

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6">
        <h3 class="mb-4">Para Yatır</h3>
    </div>
</div>

<form asp-controller="Account" asp-action="Deposit" method="post" role="form">
    <div class="mb-3">
        <div class="form-group">
            <label>Account Number</label>
            @Html.DropDownListFor(model => model.AccountNumber, ViewBag.AccountNumbers as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label>Amount</label>
            <input class="form-control" type="text" asp-for="Amount" placeholder="Amount"/>
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Amount)</span>
        </div>
    </div>

    <button class="mt-3 btn btn-outline-warning" type="submit">Para Yatır</button>
</form>